
body {
  width: 960px;
  background-color: beige;
}



p {
  width: 400px;
  margin: auto;
  padding: 10px;
  font-size: 24px;
  margin-bottom: 20px;
}

ul {
  margin: auto;
  margin-top: 10px;
  width: 400px;
  padding: 10px;
}

ol {
  margin: auto;
  margin-top: 20px;
  width: 400px;
  padding: 10px;
}