

body {
  border: rgb(189, 17, 17) 10px;
  border-style: outset;
  padding: 20px;
  background-color: black;
  width: 500px;
  margin: auto;
  
}

p {
  background-color: floralwhite;
  width: 480px;
  margin: auto;
  border: grey 3px;
  border-style: inset;
  padding: 10px;
}

ul:first-line, ol:first-line {
  font-weight: bold;
}

ul, ol {
  background-color: floralwhite;
  width: 480px;
  margin: auto;
  margin-top: 5px;
  border: grey 3px;
  border-style: inset;
  padding: 10px;
}

li {
  text-indent: 20px;
}

li:first-child {
  margin-top: 5px;
}